.closeContainer
    width: 4.2vw
    height: 4.2vw
    display: flex
    flex-direction: column
    align-content: cemter
    justify-content: center
    z-index: 15
    
    .closeIcon
        margin: 0
        font-size: 4vw
        font-weight: 600
        text-align: center
        
        line-height: 4vw
        display: inline-block
        transform: rotate(45deg)
        
        // display: inline-block
// 