@font-face {
    font-family: 'Dalime';
    src: local('Dalime'), url(./fonts/dalime.ttf) format('ttf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}
@font-face {
    font-family: 'SignPainter';
    src: local('SignPainter'), url(./fonts/SignPainter-HouseScript-01.otf) format('otf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}
body {
    background-image: url(./images/SaveTheDate_gradient.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.titleBox {
    position: relative;
    width: 32.89vw;
    margin-top: 21vw;
    left: -3.722vw;
}
.buttonBar {
    margin-top: 5vh;
}
h1 {
    font-family: 'Dalime';
    font-size: 4.6875vw;
    font-weight: 10;
    text-align: right;
    margin: 0;
}
h3 {
    font-family: 'SignPainter';
    font-size: 2.77vw;
    margin-left: 2vh;
    text-align: right;
    margin: 0;
}
.titleSub {
    margin-right: 3vw;
}
.subTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}
.buttonBar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navButton {
    width: 100px;
    height: 70px;
    margin: 0 10vw 0 10vw;
    background: black;
    color: white;
    border: none;
    border-radius: 35px;
}
.gableLeft {
    position: absolute;
    border-bottom: 12px solid black;
    width: 61vw;
    left: 50.3315%;
    top: 0;
    transform: rotate(135deg);
    transform-origin: left;
}
.gableRight {
    position: absolute;
    border-bottom: 12px solid black;
    width: 61vw;
    left: 49.6685%;
    top: 0;
    transform: rotate(45deg);
    transform-origin: left;
}

.houseBorder {
    position: relative;
    /* width: 100%; */
    height: 70vh;
    margin-top: 43.25vw;
    border-right: 12px solid black;
    border-bottom: 12px solid black;
    border-left: 12px solid black;
    
}
.content {
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dateBorder {
    position: absolute;
    height: 70vh;
    left: 57.5vw;
    top: 15.4vw;
    border-right: 12px solid black;
}
.houseBounds {
    position: absolute;
    width: 86.25vw;
    top: 0;
}