.overlayContainer
    position: absolute
    display: flex
    flex-direction: column
    // justify-content: center
    align-items: center
    width: 100vw
    height: 100vh
    // overflow: scroll
.overlayTitle
    margin-bottom: 4vw
.overlayBack
    position: relative
    width: 80vw
    min-height: 70vh
    z-index: 10
    margin-top:10vh
    background: #e2c6b3
    overflow-y: scroll
    overflow-x: hidden
    @media (max-width: 640px)
        width: 90vw
        min-height: 80vh
        margin-top:5vh

.upperRight
    position: absolute
    top: 0
    right: 0

.overlayContent
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-content: center
    width: auto
    height: 100%
    // overflow: scroll
    h3
        text-align: center
        font-size: 3vw
        // margin-top: 2vw
    h4
        font-family: Lato
        font-size: 1.8vw
        font-weight: 600
        @media ( max-width: 640px )
            font-size: 4vw
            font-weight: 600
    h5
        font-family: Lato
        font-size: 1.8vw
        font-weight: 600
        @media ( max-width: 640px )
            font-size: 4vw
            font-weight: 600

    p
        // text-align: center
        margin-top: 0vw


